* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  --primary-red: hsl(0, 78%, 62%);
  --primary-cyan: hsl(180, 62%, 55%);
  --primary-orange: hsl(34, 97%, 64%);
  --primary-blue: hsl(212, 86%, 64%);
  --neutral-dark: hsl(234, 12%, 34%);
  --neutral-grayish: hsl(229, 6%, 66%);
  --neutral-light: hsl(0, 0%, 98%);
}

body {
  background: var(--neutral-light);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 1110px;
  max-height: 780px;
  margin: 1.8rem 1.5rem;
}

header {
  text-align: center;
}

header .light {
  font-weight: 200;
  color: var(--neutral-dark);
}

header .bold {
  font-weight: 600;
  color: var(--neutral-dark);
}

header .sub-header {
  font-weight: 400;
  color: var(--neutral-grayish);
  font-size: 15px;
  width: 50%;
  margin: 0.5em auto;
}

.services {
  display: grid;
  gap: 1.6rem;
  margin-top: 1.8rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas:
    '     .     team-builder     .'
    'supervisor team-builder calculator'
    'supervisor    karma     calculator'
    '     .        karma         .';
}

.card {
  background: #fff;
  padding: 2rem;
  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  border-top: 4px solid #000;
  display: flex;
  flex-direction: column;
}

.card.supervisor {
  grid-area: supervisor;
  border-color: var(--primary-cyan);
}

.card.team-builder {
  grid-area: team-builder;
  border-color: var(--primary-red);
}

.card.calculator {
  grid-area: calculator;
  border-color: var(--primary-blue);
}

.card.karma {
  grid-area: karma;
  border-color: var(--primary-orange);
}

.card__header {
  color: var(--neutral-dark);
}

.card__info {
  color: var(--neutral-grayish);
  font-size: 15px;
  margin-top: 0.5rem;
}

.card__icon {
  width: 15%;
  margin-top: 1.5rem;
  margin-left: auto;
}

footer {
  width: 100%;
  background: var(--neutral-dark);
  color: var(--neutral-light);
  text-align: center;
  padding: 0.8rem;
  font-size: clamp(10px, 2.5vw, 14px);
  cursor: default;
}

footer a {
  text-decoration: none;
  color: inherit;
  font-weight: bold;
}

footer a:hover {
  color: var(--primary-cyan);
}

@media (max-width: 768px) {
  .container {
    max-height: max-content;
  }

  header .light,
  header .bold {
    font-size: 1.5rem;
  }

  header .sub-header {
    width: 100%;
    margin: 1.5rem 0 3rem;
  }

  .services {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      'supervisor'
      'team-builder'
      'karma'
      'calculator';
  }
}
